{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "styled-components": "styled-components/native",
          "src": "./src"
        }
      }
    ]
  ]
}
